<html>
  <head>
    <title>Daily Report</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Latest compiled JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .navbar-default {
              background-color: black;
              border-color: black;
            }
            .navbar-default .navbar-brand,
            .navbar-default .navbar-nav > li > a {
              color: white;
            }
            .navbar-default .navbar-brand:hover,
            .navbar-default .navbar-nav > li > a:hover {
              color: #d4af37; /* iron color */
            }
            .navbar-logo {
              position: absolute;
              top: 5px;
              right: 5px;
              width: 50px;
              height: 50px;
            }


    </style>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-default">
          <div class="navbar-header">
              <img src="img.png" class="navbar-logo">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <i class="glyphicon glyphicon-align-justify"></i>
              </button>
          </div>

          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <i class="glyphicon glyphicon-align-justify"></i>
              </button>
              <a class="navbar-brand" href="{{ url_for('dashboard') }}">Dashboard</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
              <li><a href="/dashboard">الصفحة الرئيسية</a></li>
              <li><a href="/view_data">مراجعة المدخلات</a></li>
                  <li><a href="/get_forms_data">مراجعة النماذج</a></li>
              <li><a href="/generate_qr">QR Code</a></li>
              <li><a href="/categories">الموردين والمشتريات</a></li>
              <li><a href="/pre_warehouse">مستودع المزارع</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">إدارة المستخدمين <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="{{ url_for('view_user_registration') }}">إنشاء مستخدم إداري</a></li>
                  <li><a href="{{ url_for('view_labor_registration') }}">إنشاء مستخدم عامل</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">النماذج <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/labor_pre_form">تقرير الحظائر</a></li>
                    <li><a href="/supervisor_pre_form">تقريرالإشرافي للمزارع</a></li>
                    <li><a href="/tech_pre_form">تقرير فني للمزارع</a></li>
                    <li><a href="/farm_pre_form">تقرير المزرعة</a></li>
                    <li><a href="/op_pre_form">تقرير التشغيل-التسويق</a></li>
                    <li><a href="/totals_pre_form">تقرير الإدارة</a></li>
                    <li><a href="/delivery_note_pre_form">Delivery Note</a></li>

                </ul>
              </li>
               <li><a href="/logout">تسجيل خروج</a></li>
            </ul>
            </div>
          </div>
      </nav>
    </header>
    {% block content %}
    {% endblock %}
    <footer>
      <p class="text-center">Copyright Phi0ne 2023</p>
    </footer>
    <script>
      $('.navbar-toggle').click(function() {
        $(this).attr('aria-expanded', !$(this).attr('aria-expanded'));
      });
    </script>
  </body>
</html>
