{% extends "base.html" %}
{% block content %}

<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Category ID</th>
                <th>Category Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.category_name }}</td>
                <td>
                    <button class="btn btn-success" onclick="window.location.href='/types_table/{{ category.id }}'">View Types</button>
                    <i class="fas fa-pen-square"></i>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
