

{% extends "base.html" %}
{% block content %}

<div class="container">
    <form action="/submit_form/{{ form_id }}" method="post" onsubmit="return submitForm()">
    <input type="hidden" name="farm_name" value="{{ form_id }}">
        <table>
            <thead>
                <tr>
                    <th>Farm Name:&nbsp&nbsp</th>
                    <th>{{ farm_name }}</th>
                </tr>
            </thead>
            <tbody>
                {% for row in row_names %}
                    <tr>
                        <td>{{ row }}</td>
                        {% if row == "Category" %}
                            <td>
                                <select id="categorySelect" onchange="updateSuppliers()">
                                    {% for category in categories %}
                                      <option value="{{ category.id }}">{{ category.category_name }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                        {% elif row == "Type" %}
                            <td>
                                <select id="typeSelect" onchange="updateSuppliers()">
                                </select>
                            </td>
                        {% elif row == "Supplier" %}
                            <td>
                                <select id="supplierSelect">
                                </select>
                            </td>
                        {% else %}
                            <td><input type="text" name="{{ row }}-{{ column_names }}"></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    <input type="submit" value="Submit">
    </form>
<script>
    function updateSuppliers() {
        var categorySelect = document.getElementById("categorySelect");
        var categoryId = categorySelect.value;
        var typeSelect = document.getElementById("typeSelect");
        var xhr = new XMLHttpRequest();
        xhr.open("GET", "/get_types_by_category_id/" + categoryId, true);
        xhr.onreadystatechange = function() {
          if (xhr.readyState === 4 && xhr.status === 200) {
            var types = JSON.parse(xhr.responseText);
            typeSelect.innerHTML = "";
            for (var i = 0; i < types.length; i++) {
              typeSelect.innerHTML += "<option value='" + types[i].id + "'>" + types[i].type + "</option>";
            }
          }
        };
        xhr.send();

        var supplierSelect = document.getElementById("supplierSelect");
        var typeId = typeSelect.value;
        var xhr2 = new XMLHttpRequest();
        xhr2.open("GET", "/get_suppliers_by_type_id/" + typeId, true);
        xhr2.onreadystatechange = function() {
          if (xhr2.readyState === 4 && xhr2.status === 200) {
            var suppliers = JSON.parse(xhr2.responseText);
            supplierSelect.innerHTML = "";
            for (var i = 0; i < suppliers.length; i++) {
              supplierSelect.innerHTML += "<option value='" + suppliers[i].id + "'>" + suppliers[i].supplier_name + "</option>";
            }
          }
        };
        xhr2.send();
      }
      function submitForm() {
        // Add form validation or any other logic here
        return true;
      }
</script>
</div>
{% endblock %}