{% extends "base.html" %}
{% block content %}
    <div class="container">
        <form>
          <table>
            <thead>
              <tr>
                <th></th>
                {% for column_name in column_names %}
                  <th>{{ column_name }}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              {% for row_name in row_names %}
                <tr>
                  <td>{{ row_name }}</td>
                  {% for column_name in column_names %}
                    <td><input type="text" name="{{ row_name }}_{{ column_name }}"></td>
                  {% endfor %}
                </tr>
              {% endfor %}
            </tbody>
          </table>
          <input type="submit" value="Submit">
        </form>
    </div>
{% endblock %}
