<html>
    <head>
        <title>Daily Report</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- Latest compiled JavaScript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <style>
            .container {
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                  height: 100vh;
                  padding: 30px;
                  width: 100%;
                  box-sizing: border-box;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <form action="/login" method="post">
                <div class="form-group">
                    <label for="username"><span class="text-danger">*</span>Username:</label>
                    <input type="text" class="form-control" name="username" required><br>
                </div>
                <div class="form-group">
                    <label for="password"><span class="text-danger">*</span>Password:</label>
                    <input type="password" class="form-control" name="password" required><br>
                </div>
                <button type="submit" class="btn btn-default">Login</button>
            </form>
        </div>
    </body>
</html>