{% extends "base.html" %}
{% block content %}
<div class="container">
    <form action="{{url_for('view_registration')}}" method="post">
        <div class="form-group">
            <label for="name"><span class="text-danger">*</span>Name:</label>
            <input type="text" class="form-control" name="name" required><br>
        </div>
        <div class="form-group">
            <label for="username"><span class="text-danger">*</span>Username:</label>
            <input type="text" class="form-control" name="username" required><br>
        </div>
        <div class="form-group">
            <label for="jobTitle"><span class="text-danger">*</span>Job Title:</label>
            <select name="jobTitle" class="form-control" required>
                {% for title in job_titles %}
                    <option value="{{ title }}">{{ title }}</option>
                {% endfor %}
            </select><br>
        </div>

        <div id="labor_fields" style="display:none">
            <div class="form-group">
                <label for="houseNu"><span class="text-danger">*</span>House Number:</label>
                <input type="text" name="houseNu" class="form-control" required><br>
            </div>
            <div class="form-group">
                <label for="farmName"><span class="text-danger">*</span>Farm Name:</label>
                <input type="text" name="farmName" class="form-control" required><br>
            </div>
        </div>
        <input type="hidden" name="is_labor" value="false" id="is_labor">
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
    <script>
        document.querySelector("select[name='jobTitle']").onchange = function(){
            if (this.value === "Labor") {
                document.getElementById("labor_fields").style.display = "block";
                document.getElementById("is_labor").value = "true";
            } else {
                document.getElementById("labor_fields").style.display = "none";
                document.getElementById("is_labor").value = "false";
            }
        }
    </script>
</div>
{% endblock %}
