{% extends "base.html" %}
{% block content %}

<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Supplier ID</th>
                <th>Supplier Name</th>
                <th>Unit Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for supplier in suppliers %}
            <tr>
                <td>{{ supplier.id }}</td>
                <td>{{ supplier.supplier_name }}</td>
                <td>{{ supplier.unit_price }}</td>
                <td><i class="fas fa-pen-square"></i></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
