{% extends "base.html" %}
{% block content %}

<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Type Name</th>
                <th>Total delivered</th>
            </tr>
        </thead>
        <tbody>
            {% for type in types %}
            <tr>
                <td>{{ type.type }}</td>
                <td>{{ type.quantity }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}